.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_bookdown_files
docs/.DS_Store
docs/*.html
docs/*.json
docs/libs
docs/images
docs/*.txt
docs/css
docs/GLM-Workbook_files
*.Rproj 
*.rds
_bookdown_files/
archive